a {
  text-decoration: none;
  color: $text-color !important;
}

.main_article{
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  h1 {
    position: absolute;
    bottom: 100px;
    left: 0px;
    background: linear-gradient(transparent, rgba($content-color, 0.8) 80%);
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 60px;
    font-size: 3em;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    text-shadow: black 0px 0px 4px;
  }

  p {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba($content-color, 0.8);
    width: 60%;
    height: 60px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0;
    color: rgba($grey-color-light, 0.8)
  }

}


@include media-query($on-laptop) {
  .main_article {
    h1 {
      width: 80%;
      padding-left: 10%;
      padding-right: 10%;
      bottom: 120px;
    }
    p {
      width: calc(100% - 40px);
      padding-left: 20px;
      padding-right: 20px;
      height: 80px;
    }
  }
}


@include media-query($on-palm) {
  .main_article {
    h1 {
      width: calc(100% - 40px);
      padding-left: 20px;
      padding-right: 20px;
      bottom: 160px;
    }
    p {
      width: calc(100% - 40px);
      padding-left: 20px;
      padding-right: 20px;
      height: 120px;
    }
  }
}

