img {
  width: 100%;
  max-height: 350px;
  margin-bottom: 40px;
}

h1 {
  font-size: 2em;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-left: 20px;
}

h2 {
  font-size: 1.6em !important;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-left: 20px;
}

h3 {
  font-size: 1.2em !important;
  font-family: 'Open Sans Condensed', sans-serif;
  opacity: 0.7;
  margin-left: 40px;
}

hr {
  width: 60%;
  margin-left: 20%;
  opacity: 0.4;
}

em {
  opacity: 0.8;
}
