---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    {%- for post in site.posts limit:1 -%}
    <a href="{{ post.url | relative_url }}">
      <div class="main_article">
        <img src="{{ post.image  }}"/>
        <h1>
          {{ post.title | escape }}
        </h1>
        {%- if post.resume -%}
        <p class="resume">
          {{ post.resume }}
        </p>
        {%- endif -%}
      </div>
    </a>
    {%- endfor -%}

    <ul class="post-list">
      {%- for post in site.posts offset:1 -%}
      <a class="post-link" href="{{ post.url | relative_url }}">
        <li class="card">
          <img src="{{ post.image }}"/>
          <h3>
            {{ post.title | escape }}
          </h3>
          <div>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <p class="post-meta">{{ post.date | date: date_format }}</p>
            {%- if post.resume -%}
              <p class="resume">
                {{ post.resume }}
              </p>
            {%- endif -%}
          </div>
        </li>
      </a>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
